:root {
	--a: 400px;
	--_: 210px;
}
body {
	padding: 0;
	margin: 0;
	display: flex;
	overflow: hidden;
}
.S {
	display: none;
}
.O {
	display: none;
}
#q {
	border: 0;
	display: inline-block;
}
#q td {
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
}
#A {
	background-color: rgb(143, 33, 33);
}
#B {
	background-color: rgb(94, 169, 24);
}
#C {
	background-color: rgb(36, 138, 200);
}
#D {
	background-color: rgb(241, 175, 21);
}

#w {
	position: absolute;
	left: 0;
	top: 0;
}
#L {
	position: absolute;
	right: 0;
	top: 0;
	width: var(--a);
	height: calc(100% - var(--_));
	background-color: rgba(255, 255, 255, 0.7);
	padding: 8px;
	column-count: 2;
	box-sizing: border-box;
	overflow-x: auto;
}
#K {
	position: absolute;
	right: 0;
	bottom: 0;
	width: var(--a);
	height: var(--_);
	background-color: rgba(255, 255, 255, 0.7);
	padding: 8px;
	box-sizing: border-box;
}
#E {
	display: none;
}
input[type="number"] {
	width: 70px;
}
label,
input[type="checkbox"],
option {
	cursor: pointer;
}
select:disabled > option {
	cursor: not-allowed;
}
#s,
#r {
	width: 80px;
	height: 500px;
}
.R {
	box-sizing: border-box;
	padding-left: 5px;
	background: linear-gradient(transparent 60%, #ccc 60%);
	margin-top: 16px;
	margin-bottom: 5px;
}
.R.L {
	margin-top: 0px;
}
#L > div {
	page-break-inside: avoid;
	break-inside: avoid;
}
#L > div > *:nth-child(n + 2) {
	padding-left: 8px;
}
.A,
.q {
	background-color: hsla(calc(7 / 12 * 360), 100%, 50%, 0.3);
}
.B,
.r {
	background-color: hsla(calc(2 / 12 * 360), 100%, 50%, 0.3);
}
.C,
.s {
	background-color: hsla(calc(9 / 12 * 360), 100%, 50%, 0.3);
}
.D,
.t {
	background-color: hsla(calc(4 / 12 * 360), 100%, 50%, 0.3);
}
.E,
.u {
	background-color: hsla(calc(11 / 12 * 360), 100%, 50%, 0.3);
}
.F,
.v {
	background-color: hsla(calc(6 / 12 * 360), 100%, 50%, 0.3);
}
.G,
.w {
	background-color: hsla(calc(1 / 12 * 360), 100%, 50%, 0.3);
}
.H,
.x {
	background-color: hsla(calc(8 / 12 * 360), 100%, 50%, 0.3);
}
.I {
	background-color: hsla(calc(3 / 12 * 360), 100%, 50%, 0.3);
}
.n {
	background-color: hsla(calc(10 / 12 * 360), 100%, 50%, 0.3);
}
.o {
	background-color: hsla(calc(5 / 12 * 360), 100%, 50%, 0.3);
}
.p {
	background-color: hsla(calc(0 / 12 * 360), 100%, 50%, 0.3);
}
.p:checked {
	background-color: hsla(calc(0 / 12 * 360), 100%, 25%, 1);
	color: #000;
}

#K .R {
	margin-top: 0px;
}
#i {
}
.m {
	font-size: 12px;
}
.m td {
	text-align: center;
}
.a > span {
	width: 16px;
	text-align: center;
	display: inline-block;
}
.j {
}
.h {
}
.e {
}
.f {
}
.c {
}
#_,
._ {
	display: none;
}
.M {
	background-color: rgba(143, 33, 33, 0.9);
	color: #fff;
	padding-left: 2px;
	padding-right: 2px;
}
.K {
	background-color: rgba(36, 138, 200, 0.9);
	color: #fff;
	padding-left: 2px;
	padding-right: 2px;
}
.y {
	background-color: rgba(188, 137, 16, 0.9);
	color: #fff;
	padding-left: 2px;
	padding-right: 2px;
}
.J {
	background-color: rgba(94, 169, 24, 0.9);
	color: #fff;
	padding-left: 2px;
	padding-right: 2px;
}

.N {
	width: 170px;
	border-color: #999;
	border-style: solid;
	box-sizing: border-box;
}
.l {
	border-width: 0;
	white-space: nowrap;
}
.i {
	display: inline-block;
	width: 85px;
	cursor: pointer;

	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #999;
	border-style: solid;
	box-sizing: border-box;
	border-width: 1px;

	padding-left: 8px;
}
.i.Q {
	border-color: #999;
	border-bottom-color: rgba(255, 255, 255, 0);
}
.z {
	border-width: 0 1px 1px 1px;
	margin-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 8px;
}
#u {
}
#v {
	display: none;
}
#I {
	cursor: grab;
}

.P {
	cursor: help;
	color: rgb(51, 125, 236);
	display: inline-block;
	position: relative;
}

.P:hover {
	text-decoration: underline;
}

.P::after {
	display: none;
	z-index: 1000;
}

.P:hover::after {
	display: inline-block;
}

.P::after {
	content: attr(tooltip);
	border: 1px solid rgb(51, 125, 236);
	background-color: rgb(51, 125, 236);
	color: #fff;
	position: absolute;
	bottom: calc(100% + 6px);
	left: 0;
	padding: 6px 8px;
	width: 200px;
	font-size: 1rem;
	font-weight: normal;
	text-align: left;
}
#f {
	padding-top: 4px;
	margin-left: 4px;
}
#z {
	padding-top: 8px;
	color: #aaa;
	font-size: 12px;
	text-align: center;
}
#F {
	color: #aaa;
}
